---
interface Props {
	title: string;
	description: string;
	href: string;
	hrefText : string;
	hrefTwo : string;
	hrefTwoText : string;
	submitValue : string;
}

const { href, title, description, hrefText, submitValue, hrefTwo, hrefTwoText} = Astro.props;
---
<div class="hero min-h-screen absolute z-50">
	<div class="hero-content flex-col lg:flex-row-reverse">
	  <div class="text-center lg:text-left">
			<h1 class="text-5xl font-bold"> {title} </h1>
			<p class="py-6"> {description} </p>
	  </div>
	  <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl border-2 border-white rounded-3xl bg-black">
			<div class="card-body">
				<form method="POST">
					<slot/>
					<label class="label">
						<a href={href} class="label-text-alt link link-hover"> {hrefText} </a>
						<a href={hrefTwo} class="label-text-alt link link-hover"> {hrefTwoText} </a>
					</label>
					<div class="form-control mt-6">
						<input type = "submit" value = {submitValue} class="btn btn-primary" id = "button"/>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>