---
interface Props {
    title : string;
    imageUrl : string;
    newContent : string;
    description : string;
    tagOne : string;
    tagTwo : string;
}

const {title , imageUrl , newContent , description , tagOne , tagTwo} = Astro.props;
---
<a href = "#">
    <div class="card w- bg-base-100 shadow-xl flex mt-20">
        <figure ><img src = {imageUrl} alt = {title} width = "150px" height = "150px"/></figure>
        <div class="card-body">
            <h2 class="card-title">
                {title}
                <div class="badge badge-secondary"> {newContent} </div>
            </h2>
            <p> {description} </p>
            <div class="card-actions justify-end">
                <div class="badge badge-outline"> {tagOne} </div> 
                <div class="badge badge-outline"> {tagTwo} </div>
            </div>
        </div>
    </div>
</a>