---
import Layout from '../layouts/pageLayout.astro';
import StardewBackground from '../components/pageComponents/stardewBackground.astro';
import Carousel from "../components/dynamicComponents/carousel.jsx";
import ListOfMovies from "../components/dynamicComponents/listOfMovies.jsx";
import ContainerOfMovies from '../components/dynamicComponents/containerOfMovies.jsx';

const carouselResponse = await fetch ("http://localhost:5000/luminacritics/filmes/popular");
const carouselData = await carouselResponse.json ();

const containerTrendingResponse = await fetch ("http://localhost:5000/luminacritics/filmes/trending");
const containerTrendingData = await containerTrendingResponse.json ();

const containerAdventureResponse = await fetch ("http://localhost:5000/luminacritics/filmes/buscar/aventura");
const containerAdventureData = await containerAdventureResponse.json ();

const containerActionResponse = await fetch ("http://localhost:5000/luminacritics/filmes/buscar/dragon");
const containerActionData = await containerActionResponse.json ();

const containerSpaceResponse = await fetch ("http://localhost:5000/luminacritics/filmes/buscar/espaco");
const containerSpaceData = await containerSpaceResponse.json ();

const containerSpyResponse = await fetch ("http://localhost:5000/luminacritics/filmes/buscar/espiao");
const containerSpyData = await containerSpyResponse.json ();

---

<Layout title="Página Principal">

	<StardewBackground />

	<Carousel movies = {carouselData} title = {"novidades"} />

	<ContainerOfMovies client:only="react" movies = {containerTrendingData} title = {"Filmes, Séries e mais"}/>

	<div class = "grid grid-cols-2 md:grid-cols-4 pt-20">
		<ListOfMovies client:only="react" movies = {containerAdventureData} title = "Aventura"/>
		<ListOfMovies client:only="react" movies = {containerActionData} title = "Ação"/>
		<ListOfMovies client:only="react" movies = {containerSpaceData} title = "No Espaço"/>
		<ListOfMovies client:only="react" movies = {containerSpyData} title = "Espiões"/>
	</div>

</Layout>