---
import Layout from '../layouts/pageLayout.astro';
import StardewBackground from '../components/pageComponents/stardewBackground.astro';
import Carousel from "../components/dynamicComponents/carousel.jsx";
import ListOfMovies from "../components/dynamicComponents/listOfMovies.jsx";
import ContainerOfMovies from '../components/dynamicComponents/containerOfMovies.jsx';

const containerResponse = await fetch ("https://api.consumet.org/anime/gogoanime/shounen");
const containerData = await containerResponse.json ();

const carouselResponse = await fetch ("https://api.consumet.org/anime/gogoanime/shounen?page=3");
const carouselData = await carouselResponse.json ();

const listOneResponse = await fetch ("https://api.consumet.org/anime/gogoanime/shoujo");
const listOneData = await listOneResponse.json ();

const listTwoResponse = await fetch ("https://api.consumet.org/meta/anilist-manga/shounen");
const listTwoData = await listTwoResponse.json ();

const listThreeResponse = await fetch ("https://api.consumet.org/anime/gogoanime/shounen");
const listThreeData = await listThreeResponse.json ();

const listFourResponse = await fetch ("https://api.consumet.org/anime/gogoanime/adventure");
const listFourData = await listFourResponse.json ();

---

<Layout title="Página Principal">

	<StardewBackground />

	<Carousel movies = {carouselData.results} title = {"novidades"} />

	<ContainerOfMovies client:only="react" movies = {containerData.results}/>

	<div class = "grid grid-cols-4">
		<ListOfMovies client:only="react" movies = {listOneData.results} title = "shoujo"/>
		<ListOfMovies client:only="react" movies = {listTwoData.results} title = "manga"/>
		<ListOfMovies client:only="react" movies = {listThreeData.results} title = "shounen"/>
		<ListOfMovies client:only="react" movies = {listFourData.results} title = "adventure"/>
	</div>

</Layout>